.image-text {
    padding: rem(30) 0;
    
    @include md {
        padding: rem(40) 0;
    }

    @include lg {
        padding: rem(60) 0;
    }


    &__section-title {
        width: 100%;

        text-align: center;
    }

    .container {
        display: flex;

        flex-direction: column;
        align-items: center;
    }


    &__card {
        display: flex;

        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: rem(50);

        @include lg {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }
    }

    &__card-image {
        margin-bottom: rem(20);

        @include lg {
            margin-bottom: 0;
        }
    }
}
