.plain-text{
    padding: rem(10) 0 rem(40) 0;

    @include md {
        padding: rem(10) 0 rem(50) 0;
    }

    @include lg {
        padding: rem(10) 0 rem(70) 0;
    }

    &__section-title{
        width: 100%;
        text-align: center;
    }

    &__content{
        max-width: rem(700);
        margin: 0 auto;
    }
}