.teachers {
    max-width: rem(1920);

    position: relative;
    margin: 0 rem(-15);

    &__section-title {
        padding: rem(20) rem(30);

        margin: 0;

        text-align: center;
        color: white;

        background-color: var(--red-dark);

        @include sm {
            width: 50%;

            margin: 0 auto rem(60) auto;
        }

        @include lg {
            width: fit-content;

            margin-bottom: rem(20);
        }

    }

    &__post-grid {
        display: flex;

        flex-direction: column;

        padding: rem(15);

        @include lg {
            flex-direction: row;
            align-items: stretch;
        }
    }

    &__link {
        width: 100%;
        max-width: rem(570);

        margin: 0 auto;

        @include lg {
            width: 33.333%;
        }


        &:hover {
            font-weight: normal;
        }
    }



    &__card {
        display: flex;

        flex-direction: column;

        height: 100%;
        padding: rem(10);

        @include sm {
            margin-bottom: rem(40) ;
        }
    }


    &__featured {
        margin: 0;

        background-color: var(--red-dark);
        img {
            width: 100%;

            object-fit: cover;
        }
    }

    &__content {
        display: flex;

        flex-flow: column nowrap;

        height: 100%;
        padding: rem(30) rem(20);

        background-color: var(--beige);

        @include md {
            padding: rem(40) rem(30);
        }
    }

    &__title{
        margin-bottom: rem(10);
    }

    &__teacher-role{
        color: var(--main-text-color);
    }

    p {
        color: var(--main-text-color);
    }


    &__more {
        width: 100%;

        margin-top: auto;

        text-align: right;

        &:hover {
            font-weight: bold;
        }
    }
}
