/*--------------------------------------------------------------
# Basic Global Base Layout Stuff
--------------------------------------------------------------*/
html {
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

//ios tap highlight. Set to no color.
html * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.touchscroll {
    overflow-y: scroll; /* has to be scroll, not auto */

    -webkit-overflow-scrolling: touch;
}

.hide-scroll::-webkit-scrollbar {
    width: 0 !important;
}

.hide-scroll {
    -ms-overflow-style: none;
}

*:focus {
    outline: none;
}

/*
	- By making sure there main content flexes as long as possible the footer below it will be at least or more than the height of the browser
 */
.site-content {
    flex: 1 0 auto;

    overflow: hidden;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-skip {
    width: 0;
    height: 0;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
} //placed on an item where we want the screen reader to skip to.

.screen-reader-text {
    width: 1px;
    height: 1px;

    position: absolute !important;

    color: white;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

    background-color: black;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
    display: block;

    width: auto;
    height: auto;
    padding: 15px 23px 14px;

    z-index: 100000; /* Above WP toolbar. */
    top: 5px;
    left: 5px;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    color: #21759b;
    text-decoration: none;

    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto !important;

    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

/*------- responsive images --------*/
img {
    height: auto;
    max-width: 100%;
}


/*--------------------------------------------------------------
# Utility Classes
--------------------------------------------------------------*/
.hidden,
.hide {
    display: none;
}

.clear:before,
.clear:after {
    content: "";

    display: table;

    table-layout: fixed;
}

.clear:after {
    clear: both;
}


//fixes data-toggle in ie11 on svg items
@media screen and (-ms-high-contrast:active), (-ms-high-contrast: none) {
    [data-toggle] svg {
        pointer-events: none;
    }
}

[data-toggle] {
    cursor: pointer;
}

[data-slide] {
    overflow: hidden;
}
