/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/
//Change your overall colors and fonts and stuff here
//Don't forget to also check out theme.config.json and functions.php for a few more overall settings

@forward "resources";
@use "resources" as *; //sass vars and mixins and functions

//do not create sass variables in here. create them in resources.scss

/*--------------------------------------------------------------
# CSS Variables. Change these to match your theme
--------------------------------------------------------------*/
:root {
    //Fonts. change to the fonts you want. Defaults to OS Fonts. Load google fonts via theme.config.json
    --font: Noto Sans, sans-serif;
    --line-height: 1.8;

    --font-alt: Libre Baskerville, serif; //for headings etc..
    --font-pre: Noto Sans, sans-serif;;
    --line-height-pre: 22px;
    --article-font-size: 1.7rem; //slightly larger text for articles and actual content
    //Colors. Add colors here
    --white: #ffff;
    --black: #191919;
    --dark-grey: #3a3838;
    --dark-grey-2: #272727;
    --grey: #c4c4c4;
    --beige: #f6f6f4;
    --red-dark: #7b0004;
    --blue: #007eac;
    --light-blue: rgba(0, 185, 235, .73);
    --dark-blue: #007fb0;
    //Applied Colors. Add your own applied areas
    --body-bg: white; //found in page.scss
    --body-bg-secondary: var(--beige);
    --main-text-color: var(--dark-grey-2); //used in various files
    --subtle-text-color: var(--grey); //used in forms.scss and page.scss
    --site-top: var(--red-dark);
    --footer-bg: var(--red-dark); //found in page.scss
    --header-bg: var(--beige); //found in page.scss
    //links and form buttons. used in typography.scss and forms.scss
    --highlight: var(--red-dark);
    --highlight-alpha: var(--red-dark);
    --highlight-darkened: var(--red-dark);
    --overlay-color: rgba(123, 0, 4, 0.7);
}

/*--------------------------------------------------------------
# Layout CSS Variables. Probably don't need to touch.
--------------------------------------------------------------*/
:root {
    --grid-gap: 30px; //same as gap but can be changes in instances where the grid needs a smaller gap. used with .grid or .flex-grid
    /*------- Menu Variables --------*/

    --nav-move: #{$media-nav}; //should match $media-nav. when main menu in site-top should move into panel left. Used by data-moveat event
    --sidebar-move: 1000px; //when it moves to the panel right
    --media-sidebar: #{$media-sidebar}; //when it is no longer flexed
    --desktop-menu-alignment: center; //can be flex-end or flex-start or center for top level menu-items positioning on desktop
    /*------- Layout --------*/
    --container: 1200px; //holds site in a centered container of this size
    --container-content: 70rem; //holds article text for nice reading
    --container-padding: 30px; //used on left and right side of containers
    --gutters: 15px; //common padding size, used on flexbox and modules
    --gap: 30px; //common gap size used for margins and grids
    --flex-gap: calc(var(--grid-gap) / 2);
    /*------- Panels --------*/
    --panel-left-width: 300px; //width of panel-left when open
    --panel-right-width: 350px; //width of panel-right when open
    /*------- Z-index --------*/
    //these probably should not be changed.
    --z-index-top: 99;
    --z-index-overlay: 95;
    --z-index-menu-button: 90;
    --z-index-menu: 80;
    --z-index-header: 75;
    --z-index-behind: -1;
}
