

.latest-events {
    padding: rem(30) 0;

    background-color: var(--beige);

    @include md {
        padding: rem(40) 0;
    }

    @include lg {
        padding: rem(60) 0;
    }

    .container {
        display: flex;

        flex-direction: column;
    }

    &__section-title {
        margin-bottom: rem(40);

        text-align: center;

        @include md {
            margin-bottom: rem(60);
        }
    }

    &__post-grid {
        margin-bottom: rem(30);

        @include md {
            margin-bottom: rem(50);
        }
    }

    &__button {
        text-align: center;
    }
}
