@use '../resources.scss' as *;

.post-entry {
    max-width: rem(700);
    padding: rem(30) 0;

    margin: 0 auto;

    @include lg {
        padding: rem(50) 0;
    }

    p {
        margin-bottom: rem(30);
    }

    &__link-back{
        display: block;
        margin-bottom: rem(30);
    }

    &__featured {
        margin-bottom: rem(15);

        @include md {
            margin-bottom: rem(25);
        }
        img {
            @include lg {
                max-height: 300px;

                object-fit: cover;
            }
        }
    }

    &__post-meta {
        width: fit-content;

        color: var(--grey);

        border-top: 2px solid;

        margin-top: rem(30);
    }

    &__tags {
        color: var(--grey);
    }

    &__pagination {
        display: flex;

        justify-content: space-between;

        margin-top: rem(20);
    }
}
