@use '../resources.scss' as *;

.c-button {
    $this: &;

    display: inline-block;

    padding: rem(10) rem(15);

    margin-right: rem(15);
    margin-top: rem(40);

    border: 2px solid transparent;
    border-radius: rem(15);

    &--primary{
        color: var(--red-dark);
        @include font(14, 21);
        border-color: var(--red-dark);
        background-color: transparent;

        &:hover {

            color: white;

            font-weight: normal;

            background-color: var(--red-dark);

            transition: 0.5s;
            
        }
    }

    &--secondary{
        color: var(--white);
        @include font(14, 21);
        border-color: var(--white);
        background-color: transparent;

        &:hover {

            color: var(--red-dark);

            font-weight: normal;

            background-color: var(--white);

            transition: 0.5s;
            
        }
    }

    &:only-child {
        margin-right: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &__wrapper {
        display: flex;

        align-items: center;

        margin-bottom: rem(30);

        &--left {
            justify-content: flex-start;
        }
        &--center {
            justify-content: center;
        }
        &--right {
            justify-content: flex-end;
        }
    }
}
