@use "../resources" as *;

.events {
    padding-top: rem(40);

    @include md {
        padding-top: rem(60);
    }

    &__page-title {
        width: 100%;

        text-align: center;
    }

    &__pagination-nav {
        width: 100%;
        padding: var(--gap) 0;

        margin: rem(30) 0;

        text-align: center;


        .next {
            color: var(--red-dark);
        }

        .page-numbers {
            padding: 3px 8px;

            margin: 0 10px;

            font-weight: bold;
            color: var(--main-text-color);

            * {
                pointer-events: none;
            }
        }

        .page-numbers.current {
            color: var(--white);

            background-color: var(--red-dark);
        }
    }
}
