@use '../resources.scss' as *;

.event-card {
    display: flex;

    flex-direction: column;

    padding: rem(35) 0;

    z-index: 1;
    margin-top: -4px;
    border-top: 4px solid var(--grey);
    border-bottom: 4px solid var(--grey);

    position: relative;

    @include md {
        flex-direction: row;
        justify-content: space-between;
    }

    &:hover {
        @include md {
        
            z-index: 20;

            border-color: var(--red-dark);

            transition: .5s;
           }
    }

    &__featured {
        width: 100%;

        position: relative;
        margin-bottom: rem(30);
        @include md{
            margin-bottom: 0;
        }

        img {
            width: 100%;

            object-fit: contain;
        }
    }

    &__content {
        display: flex;

        flex-flow: column nowrap;
    }

    &__datetime {
        color: var(--main-text-color);
    }

    p{
        color: var(--main-text-color);
    }

    
    &__link:hover{
        font-weight: normal;
    }



    &__more {
        width: 100%;

        margin-top: auto;

        text-align: right;

        &:hover{
            font-weight: bold;
        }
    }
}
