@use "../resources" as *;

.main-footer {
    position: relative;
    &__background {
        padding: 0;

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;


        img {
            width: 100%;
            height: 100%;

            object-position: center;
            object-fit: cover;
        }
    }

    &__background:after {
        content: '';

        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: var(--overlay-color);
    }

    &__top-wrapper {
        padding: rem(60) 0;

        position: relative;
        z-index: 4;

        text-align: center;

        @include md {
            text-align: left;
        }
    }

    &__addresses {
        @include lg {
            display: flex;

            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__addresses-title {
        @include lg {
            width: 100%;
        }
    }

    &__addresses-address {
        margin-bottom: rem(30);

        color: var(--white);

        @include xl {
            margin-bottom: 0;
        }
        @include lg {
            width: fit-content;
            height: auto;

            margin-right: rem(60);
        }
    }

    &__email,
    &__phone-number {
        display: block;

        margin-bottom: rem(24);

        color: var(--white) !important;
        &:hover {
            font-weight: normal;
        }
    }


    &__social-media-title {
        @include lg {
            width: fit-content;

            margin-right: 0;
        }
    }

    &__social-media-icon {
        margin-right: rem(20);
        &:last-child {
            margin-right: 0;
        }
    }


    &__page-info {
        width: 100%;
        padding: rem(10);

        position: relative;
        z-index: 20;
        bottom: 0;

        text-align: center;

        background-color: var(--beige);
    }

    &__copyright{
        width: 100%;
        display: block;
        @include md{
            width: auto;
            display: inline-block;
            &:after{
                content: '| ';
                color: var(--red-dark)
            }
        }
    }

    &__menu{
        display: inline-block;
    }

}
