@use "../resources" as *;

.nav-trigger {
    padding: 0;

    position: absolute;
    z-index: 10;
    top: rem(15);
    right: rem(15);

    line-height: 1;

    border: none;
    background: transparent;
    cursor: pointer;

    @include lg {
        display: none;
    }

    &.sticky {
        position: fixed;
    }
}


.main-header {
    $this: &;

    width: 100%;
    padding-top: rem(10);
    padding-bottom: rem(10);

    z-index: 99;
    top: 0;

    border-bottom: 3px solid var(--red-dark);
    background-color: var(--beige);

    @include lg {
        position: sticky;
    }
    @include lg {
        min-height: rem(60);
    }
    &__menu-wrapper {
        display: flex;

        flex-direction: row;
        justify-content: center;

        @include lg {
            align-items: flex-end;

            min-height: rem(60);
        }
    }

    &__logo {

        svg {
            width: rem(140);
            height: rem(40);
        }
    }

    &__menu {
        display: none;

        flex-grow: 1;

        @include lg {
            display: block;
        }

        .menu {
            display: none;

            @include lg {
                display: flex;

                justify-content: flex-end;
            }
        }

        .menu-item {
            margin-right: rem(25);

            @include xl {
                margin-right: rem(35);
            }

            &.active a{
                font-weight: bold;
                background-color: lawngreen;
            }
        }
    }

    &__language-selector {
        display: none;

        @include lg {
            display: block;

            margin-left: rem(20);
        }
    }
}

.language-selector {
    font-weight: bold;
    color: var(--red-dark);
    text-transform: uppercase;
    a {
        font-weight: normal;

        &:hover {
            font-weight: bold;
        }
    }
    .wpml-ls-item:after {
        content: ' / ';
        font-weight: normal;
    }
    .wpml-ls-item:last-child:after {
        content: '';
    }
}
