@use "../resources" as *;

.mobile-header {
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: rem(30);

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);

    background: var(--beige);

    transition: transform .5s;

    &__close {
        padding: 0;

        position: absolute;
        top: rem(20);
        right: rem(20);

        line-height: 1;

        border: none;
        background: transparent;
        cursor: pointer;
    }


    &.active {
        transform: translateY(0);
    }

    &__logo {
        margin-bottom: rem(30);
        svg {
            width: rem(140);
            height: rem(40);
        }
    }

    &__menu {
        ul {
            margin: 0;
            margin-bottom: rem(30);

            text-align: center;

            list-style: none;
        }
        li {
            margin-bottom: rem(10);
        }
    }
}
