@use "../resources" as *;

/*--------------------------------------------------------------
# Body Background
--------------------------------------------------------------*/
body {
    background: var(--body-bg);
}


/*--------------------------------------------------------------
# Site Top - holds logo and main menu at top
--------------------------------------------------------------*/
.site-top {
    position: relative; //change to fixed or absolute if wanted. if absolute add padding top to your entry-header!

    background: var(--site-top);
}


/*--------------------------------------------------------------
# Default Headers
--------------------------------------------------------------*/
.entry-header,
.page-header {
    min-height: calc(400px + 5vw);
    padding: 30px 0;

    position: relative;

    color: white;

    background-color: var(--dark-grey);
    background-size: cover;


    h1 {
        margin: 0;
    }

    .cover-image {
        height: 500px;
    }
}


/*--------------------------------------------------------------
# Under header first thing should probably have padding-top. Usually its a section
# expect it to be a paragraph or a heading or a section
# Sometimes header is outside entry-content so we select the very first thing inside there
--------------------------------------------------------------*/
.entry-header + p,
.entry-content > p:first-child {
    padding-top: var(--gap);
}


/*--------------------------------------------------------------
# Error 404 Page
--------------------------------------------------------------*/
.error404 {
    color: var(--highlight);

    background: white;

    .site-content {
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .main-footer,
    .site-top {
        display: none;
    }

    .title-404 {
        margin-bottom: var(--gap);

        font-size: 27vmin;
        font-weight: bold;
        line-height: 1;
        color: rgba(74, 58, 148, .82);
        text-shadow: 1px 1px white;
    }
}
