@use '../resources.scss' as *;

.event {
    max-width: rem(700);

    margin: rem(50) auto;

    @include lg {
        margin: rem(70) auto;
    }

    &__tags {
        width: fit-content;

        margin-top: rem(30);

        color: var(--grey);

        border-top: 2px solid;
    }
}
