@use '../resources.scss' as *;

.teacher-entry {
    margin: rem(50) auto;
    
    @include md {
        display: flex;

        flex-direction: column;
        align-items: center;
    }

    @include lg {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: space-between;

        min-height: calc(100vh - 60px - 250px);

        margin: rem(70) auto;
    }

    
    @include xxl {
        margin-top: rem(160);
    }



    &__featured {
        height: 100%;
        padding-top: 70%;

        position: relative;
        margin-bottom: rem(30);

        overflow: hidden;
        @include lg {
            height: auto;
            padding-top: 45%;

            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
            max-height: rem(600);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include lg {
                height: auto;
            }

            object-position: center;
            object-fit: cover;
        }
    }


    &__content-header {
        margin-bottom: rem(30);

        @include md {
            margin-bottom: rem(40);
        }

        @include lg {
            margin-bottom: rem(50);
        }
    }

    &__title {
        margin-bottom: rem(5);

        @include md {
            margin-bottom: rem(10);
        }
    }
}
