@use "../resources" as *;


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
    font-size: 62.5%; // resets so rem is easy to use 1.2rem = 12px.
}

//because we are using this on the front end and the back end we need to be careful
body {
    font-family: var(--font);
    font-size: 1.6rem; //results in 16px
    line-height: var(--line-height);
    color: var(--main-text-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}



//make article body of text get bigger on larger screens
@media(min-width: 1500px) {
    .grow-font {
        font-size: var(--article-font-size); //1.7rem
    }
}



h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;

    margin: 0;

    font-family: var(--font-alt);
    font-weight: bold;

    color: var(--red-dark);
}

.font-alt {
    font-family: var(--font-alt);
}

p {
    margin: 0 0 1em 0;
}


.entry-content > p,
section p {
    &:last-child {
        margin-bottom: 0;
    }
}

/*------- Quick text alignment classes --------*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}


/*--------------------------------------------------------------
# Default Headings in articles. Front page and other special pages should override the more common setting
--------------------------------------------------------------*/
h1,
.h1 {   
    margin-bottom: rem(15);
    @include font(40, 60);

    @include sm{
        margin-bottom: rem(20);
        @include font(46, 69);
    }

    @include lg{
        margin-bottom: rem(30);
        @include font(56, 82);
    }

   // @include xxl{
    //margin-bottom: rem(70);
   // @include font(80, 120);
    //}

    .entry-content {
        color: var(--red-dark);
    }
}

h2,
.h2 {
    margin-bottom: rem(32);

    @include font(32, 48);

    @include md {
        margin-bottom: rem(42);
        @include font(42, 64);
    }
}

h3,
.h3 {
    margin-bottom: rem(26);

    @include font(26, 39);

    @include xl {
        margin-bottom: rem(28);
        @include font(28, 45);
    }
}

h4,
.h4 {
    font-family: var(--font);
    
    color: var(--white);

    margin-bottom: rem(20);

    @include font (24, 32);
}

h5,
.h5 {
    margin-bottom: rem(20);

    @include font (20, 30);

    @include xxl {
    margin-bottom: rem(24);
    @include font (24, 36);
    }
}

h6,
.h6 {
    font-family: var(--font);

    margin-bottom: rem(16);

    @include font (16, 24);
}

/*--------------------------------------------------------------
# Basic Links
--------------------------------------------------------------*/

a {
    color: var(--highlight);
    text-decoration: none;

    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

h1 a,
h2 a {
    color: inherit;
}


/*--------------------------------------------------------------
# Selection Highlighting
--------------------------------------------------------------*/
::selection {
    color: white;

    background: var(--highlight);
}


/*--------------------------------------------------------------
# quotes
--------------------------------------------------------------*/
dfn,
cite,
em,
blockquote {
    font-style: italic;
    @include font(20, 30);
}

blockquote {
    position: relative;
    margin: rem(20) 0;

    font-family: var(--font-alt);
    font-weight: normal;

    
    quotes: "“" "”";
    overflow: hidden;

    p {
        padding: rem(30);
        padding-left: rem(60);
        margin: rem(20);
        background: var(--beige);
    }

    //quote mark
    &:before {
        content: open-quote;
        font-family: var(--font-alt);
        color: var(--red-dark);

        position: absolute;
        top: rem(30);
        left: rem(20);

        font-size: 8rem;
        line-height: 1;
    }

}


cite,
.wp-block-quote cite {
    float: right;
    margin-top: 0;

    font-family: var(--font);
    font-size: 14px;

    &:before {
        content: '\2014';

        margin-right: 1em;
    }
}

/*--------------------------------------------------------------
# Post Meta defaults
--------------------------------------------------------------*/
time,
time a,
.card-meta {
    font-size: 1.3rem;
}

/*--------------------------------------------------------------
# WP Edit Post Link
--------------------------------------------------------------*/
.edit-link {
    font-size: 1.4rem;
}


/*--------------------------------------------------------------
# Code
--------------------------------------------------------------*/
pre {
    padding: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    font-family: var(--font-pre);
    font-size: 14px;
    line-height: var(--line-height-pre);
    white-space: pre-wrap;

    border: 1px solid #e6e8eb;
    background: #f7f9fa;
    overflow: auto;
}

code,
kbd,
tt,
var {
    font-family: var(--font-pre);
    font-size: 15px;
}

/*--------------------------------------------------------------
# Shordodes
--------------------------------------------------------------*/
.text-black{
    color: var(--main-text-color);
}

.text-bold{
    font-weight: bold;
}

.text-spacing{
    letter-spacing: 0.7rem;
}