.contact-form {
    
    margin: rem(20) 0 rem(35) 0;

    @include md {
        margin: rem(30) 0 rem(50) 0;
    }

    @include lg {
        margin: rem(40) 0 rem(60) 0;
    }

    &__wrapper {
        max-width: rem(540);

        margin: 0 auto;
    }

    &__section-title {
        width: 100%;

        margin-bottom: rem(40);

        text-align: center;
    }
    &__form br {
        display: none;
    }
}