.newsletter {
    padding: rem(30) 0;

    background-color: var(--beige);

    @include md {
        padding: rem(40) 0;
    }
    @include lg {
        padding: rem(60) 0;
    }


    &__section-title {
        margin-bottom: rem(40);

        text-align: center;

        @include md {
            margin-bottom: rem(60);
        }
    }

    &__cover {
        margin-bottom: rem(30);
        img {
            margin: 0 auto;
        }
    }

    &__content {
        display: flex;

        flex-direction: column;
        align-items: center;

        @include lg {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
        }
    }

    &__content-col-2 {
        max-width: rem(445);
    }

    &__text {
        margin-bottom: rem(40);
    }

    &__form-input {
        padding: rem(12);
    }

    &__privacy-link{
        font-size: rem(14);
    }

    &__form-acceptance {
        font-weight: normal;
    }

    &__form-button,
    input[type=submit] {
        margin: rem(30) 0 rem(30) auto;
    }
}


.mc4wp-form-fields {
    max-width: rem(445);
}

/* custom checkbox */


.mc4wp-form,
.mc4wp-checkbox {
    span {
        font-size: rem(14);
        font-weight: normal;
    }

    .newsletter__form-acceptance,
    label {
        position: relative;

        cursor: pointer;
    }
    input[type=checkbox] {
        width: 30px;
        height: 30px;
        /*position: relative;*/

        position: absolute;
        top: 0;
        left: 0;

        visibility: hidden;
    }

    input[type=checkbox] + span {
        margin-left: rem(40);
    }

    input[type=checkbox] + span:before {
        content: '';

        display: block;

        width: 20px;
        height: 20px;

        position: absolute;
        top: 5px;
        left: 5px;

        border: 2px solid var(--grey);
        border-radius: 10px;
    }

    input[type=checkbox] + span:after {
        content: '';

        display: block;

        width: 10px;
        height: 10px;

        position: absolute;
        top: 10px;
        left: 10px;

        font-size: 18px;
        line-height: 20px;
        text-align: center;

        border-radius: 5px;
        background-color: var(--red-dark);
        visibility: hidden;
    }

    input[type=checkbox]:checked + span:after {
        visibility: visible;
    }
}
