
.main-hero {
    display: flex;

    margin-bottom: rem(40);
    height: calc(100vh - 71px);
    @include lg{
        height: calc(100vh - 82px);  
    }

    @include md {
        margin-bottom: rem(60);
    }

    @include lg {
        margin-bottom: rem(80);
    }

    @include xl {
        margin-bottom: rem(100);
    }
    &__hero-wrapper {
        width: 100%;

        max-height: 1200px;

        position: relative;

    }

    &__bg-image {
        height: 100%;

        position: relative;
        margin: 0;
        img {
            height: 100%;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            object-fit: cover;
        }
    }

    .container{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__slogan {
        width: 100%;

        color: var(--white);
        margin-bottom: rem(60);
    }


    &__button{
        a{
            margin-top: rem(-40);
            margin-bottom: rem(40);
        }
    }
}
