.text-and-video {
    .container {
        display: flex;

        flex-wrap: wrap;
        justify-content: center;

        @include xl {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__text-column {
        display: flex;
    }

    &__button {
        margin-bottom: rem(60);
    }


    &__video-btn {
        position: relative;
        margin-bottom: rem(60);
    }

    &__play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
            width: rem(80);
            height: rem(80);

            @include sm {
                width: rem(110);
                height: rem(110);
            }
        }
    }

    &__video-lightbox {
        display: none;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: rgba(0,0,0,.8);
    }

    &__video-lightbox.active {
        display: flex;
    }

    &__close-btn {
        width: 24px;
        height: 24px;

        position: absolute;
        top: 30px;
        right: 30px;

        border-width: 0;
        background-color: transparent;
    }
}
