/*--------------------------------------------------------------
# Post Card design
--------------------------------------------------------------*/

.post.card-item{
  border: 1px solid var(--highlight);
  padding: var(--gutters);
}

.post-card{
  display: flex;

  .cover-image{
    background-color: var(--red-dark);
  }

  .card-content{
    &__wrapper{
      background-color: var(--beige);
    }
  }
}
