.latest-post {
    padding: rem(30) 0;

    @include md {
        padding: rem(40) 0;
    }

    @include lg {
        padding: rem(60) 0;
    }


    &__heading-wrap {
        display: flex;

        flex-direction: column;
        align-items: center;

        margin: 0 auto;

        @include lg {
            display: block;

            position: relative;
        }
    }
    &__title {
        margin-bottom: rem(20);

        text-align: center;

        @include md {
            margin-bottom: rem(30);
        }

        @include lg {
            margin-bottom: rem(70);
        }

    }

    &__blog-link {
        display: block;

        margin-bottom: rem(20);

        @include md {
            margin-bottom: rem(30);
        }

        @include lg {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(50%);
            margin-bottom: 0;
        }

    }
}
