/*--------------------------------------------------------------
# Default Card Pagination for all loops
--------------------------------------------------------------*/
.pagination {
	text-align: center;
	width: 100%;
	padding: var(--gap) 0;
	margin-bottom: 30px;


	.next{
		color: var(--red-dark);
	}
	
	.page-numbers {
		
		color: var(--main-text-color);
		margin: 0 10px;
		padding: 3px 8px;
		font-weight: bold;

		* {
			pointer-events: none;
		}
	}

	.page-numbers.current {
		color: var(--white);
		background-color: var(--red-dark);
	}

	.page-numbers.dots {
		background: transparent;
		color: grey;
		margin: 0;
	}
}

.nav-links{
	justify-content: center;
	padding: var(--gutters) 0;
	display: flex;

	& > div{
		flex-grow: 1;
	}
}

.nav-next{
	text-align: right;
}
