.location-map {
    margin-bottom: rem(30);

    @include md {
        margin-bottom: rem(40);
    }

    @include lg {
        margin-bottom: rem(60);
    }


    .container {
        display: flex;

        flex-direction: column;
        align-items: center;

        padding: 0;

        @include sm {
            padding: 0 rem(30);
        }
    }

    &__section-title {
        margin-bottom: rem(40);

        text-align: center;

        @include md {
            margin-bottom: rem(60);
        }
    }


    &__location {
        margin-bottom: rem(40);

        @include lg {
            display: flex;
        }
    }

    &__address-wrapper {
        padding: rem(30);

        text-align: center;

        background-color: var(--beige);

        @include sm {
            padding: rem(50);
        }

        @include md {
            display: flex;

            justify-content: space-around;

            text-align: left;
        }

        @include lg {
            display: block;

            width: rem(280);
        }


    }
}
