.schedule{
    background-color: var(--beige);
    padding: rem(30) 0;

    @include md {
        padding: rem(40) 0;
    }

    @include lg {
        padding: rem(60) 0;
    }

    &__section-title{
        width: 100%;
        text-align: center;
    }
}