.logo-grid {

    overflow: hidden;
  
    padding: rem(30) 0;

    @include md {
        padding: rem(40) 0;
    }

    @include lg {
        padding: rem(60) 0;
    }
    
    &__section-title {
        margin-bottom: rem(59);

        text-align: center;

        @include lg {
            margin-bottom: rem(30);
        }

        @include xl {
            margin-bottom: rem(40);
        }
    }

    &__logo-gallery {
        display: flex;

        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        list-style: none;

        @include md {
            justify-content: space-evenly;
        }
    }

    &__logo-gallery-item {
        width: rem(200);
        
        margin: 0 rem(15) rem(50) rem(15);
      
        @include md {
            margin: 0 rem(30) rem(40) rem(30);
        }
        @include lg {
            margin: 0 rem(52) rem(30) rem(52);
        }

        img {
            display: block;

            width: auto;
            height: auto;
            max-width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}